*.iml
*.aab
.gradle
/local.properties
/.idea/
/.vscode/
.DS_Store
/build
/captures
keystore.jks
keystore.properties
fastlane/fastlane.json
Gemfile
Gemfile.lock
/app/fdroid/release/dialer-fdroid-release.apk
/app/fdroid/release/output-metadata.json
